* {
  margin: o;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__header h1 {
  color: #CC1034;
  font-size: 2rem;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__left {
  flex: 0.9;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__graphTitle{
  margin-top: 30px;
}

/*Manage Display on devices*/

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

