.infoBox {
    flex: 1;
    cursor: pointer;
}

.infoBox:not(:last-child) {
    margin-right: 10px;
}

.infoBox--selected {
    border-top: 10px solid greenyellow;
}

.infoBox--red {
    border-color: #cc1034;
}

.infoBox--orange {
    border-color: #fb4443;
}

.infoBox__cases--green {
    color: #7dd71d !important;
}

.infoBox__cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.infoBox__cases--orange {
    color: #fb4443;
}

.infoBox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}

@media (max-width: 425px) {
    .infoBox {
        display: block;
        box-sizing: border-box;
    }
    .infoBox__cases {
        font-size: 13px;
        font-weight: bold;
    }
    .infoBox__title {
        font-size: 10px !important;
        font-weight: bold !important;
    }
    .infoBox__total {
        font-size: 10px !important;
    }
}

@media (max-width: 300px) {
    .app__header h1 {
        font-size: 22px;
    }
    .infoBox {
        display: block;
        box-sizing: border-box;
    }
    .infoBox__cases {
        font-size: 11px;
        font-weight: bold;
    }
    .infoBox__title {
        font-size: 10px !important;
        font-weight: bold !important;
    }
    .infoBox__total {
        font-size: 9px !important;
    }
}